* {
    color: white;
}

body {
    display: flex;
    flex-flow: column;
    height: 100%;
    -webkit-flex-flow: column;
    background: #1E6F5C !important;
}

h4 {
    margin-top: 10px !important;
}

button {
    border: 1px solid #00ffc3 !important;

}

label {
    padding-right: 10px;
    padding-top: 10px;
}

input {
    border-radius: 1vh;
    background: #01c27e;
    color: white !important;
    border: 1px solid #00ffc3;
    text-align: center;
    display: flex;
    flex-direction: column;
}

#select {
    background: #01c27e !important;
    color: white !important;
    border-radius: 1vh;
    border: 1px solid #00ffc3;
    display: block;
    text-align: center;
    text-align-last: center;
    -moz-text-align-last: center;
}

#criterios {
    display: inline-block;
}

#quebra-linha {
    display: block;
    margin-right: 20px;
}

#criterios input {
    display: inline;
    vertical-align: middle;
}

#quantidade_sorteados {
    display: flex;
    flex-direction: row;
}

#quantidade_sorteados input {
    margin-top: 10px;
    width: 40px;
    height: 1.5rem;
}

#candidatos {
    margin-bottom: 10px;
}

#colapso,
#transparente {
    background: rgba(0, 0, 0, 0);
    border: 0 solid rgba(0, 0, 0, 0);
}

#nome,
#posicao {
    padding: 4px;
    background: #066847;
    border-radius: 1.2vh;
    border: 1px solid #00382b;
}

.progress-bar {
    background-color: #00aa71 !important;
}



@media (max-width: 500px) {

    h4 {
        margin-top: 4px !important;
    }

    label {
        justify-content: start !important;
    }

    #sorteados,
    #candidatos {
        font-size: 0.8rem;
        flex-direction: column;
        height: 27.8vh !important;
    }

    #colapso {
        flex-direction: column;
    }

    #botao-sortear,
    #logo,
    #quantidade_sorteados,
    #colapso,
    #centralizar,
    h4,
    h5,
    p {
        display: flex;
        align-items: center;
        justify-content: center;
    }
}

@media (max-height: 600px) {

    #sorteados {
        height: 32vh !important;
    }

    label {
        justify-content: start !important;
    }

    button {
        font-size: 0.75rem !important;
    }

    h5 {
        font-size: 1rem !important;
    }

    #botao-sortear,
    #logo,
    #quantidade_sorteados,
    #colapso,
    #centralizar,
    h4,
    h5,
    p {
        display: flex;
        align-items: center;
        justify-content: center;
    }
}

@media (max-width: 320px) {
    h4 {
        font-size: 1.2rem !important;
    }

    h5,
    h6 {
        font-size: 0.7rem !important;
        width: 80vw !important;
    }




    #nome,
    #posicao {
        font-size: 4vw;
    }
}