* {
    color: white;
}

body {
    background: #1E6F5C !important;
}

h4 {
    margin-top: 10px !important;
}

button {
    border: 1px solid #00ffc3 !important;
    font-size: 0.9rem !important;

}

label {
    padding-right: 10px;
    padding-top: 10px;
}

input {
    border-radius: 1vh;
    background: #1E6F5C;
    color: white !important;
    border: 1px solid #00ffc3;
    text-align: center;
    display: flex;
    flex-direction: column;
}

#logo {
    display: flex;
    align-items: center;
    justify-content: center;
}

#card-principal {
    border: 2px solid black;
    width: 500px;
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#select {
    background: rgb(41, 187, 137) !important;
    color: white !important;
    border-radius: 1vh;
    border: 1px solid #00ffc3;
    display: block;
    text-align: center;
    text-align-last: center;
    -moz-text-align-last: center;
}

#criterios {
    display: inline-block;
}

#quebra-linha {
    display: block;
}

#criterios input {
    display: inline;
    margin-right: 10px;
    vertical-align: middle;
    filter: invert(100%) hue-rotate(110deg) brightness(1.7);
}

#quantidade_sorteados {
    display: flex;
    flex-direction: row;
    font-size: 0.9rem;
}

#quantidade_sorteados input {
    margin-top: 10px;
    width: 40px;
    height: 1.5rem;
}

#candidatos {
    margin-bottom: 10px;
}

#nome,
h5,
h6 {
    cursor: pointer !important;
}

#sorteados,
#candidatos {
    width: 450px !important;
}

#vencedor img {
    border-radius: 50%;
    width: 70px;
}

#imagem {
    margin: 5px 10px;
}

#vencedor button {
    border: 1px solid #00ffc3 !important;
    background: none;
    border-radius: 1.2vh;
}

#vencedor p {
    font-style: italic;
    margin-left: 10px;
    justify-content: flex-start;
}

#cabecalho-vencedor {
    display: flex;
    align-items: center;
}

#colapso,
#transparente {
    background: rgba(0, 0, 0, 0);
    border: 0 solid rgba(0, 0, 0, 0);
}

#colapso {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#nome,
#posicao {
    padding: 4px;
    background: #066847;
    border-radius: 1.2vh;
    border: 1px solid #00382b;
}

.progress-bar {
    background-color: #00aa71 !important;
}



@media (max-width: 500px) {

    h4 {
        margin-top: 4px !important;
    }

    label {
        justify-content: start !important;
    }

    #card-principal {
        border: none;
        width: 100vw;
    }

    #criterios-moveis {
        display: flex;
        align-items: flex-start;
        justify-content: flex-start;
    }

    #sorteados,
    #candidatos {
        font-size: 0.8rem;
        flex-direction: column;
        height: 27.8vh !important;
        width: 80vw !important;
    }

    #colapso {
        flex-direction: column;
    }

    #barra {
        width: 200px !important;
    }

    #spinner-custom {
        margin-top: 0 !important;
    }

    .log {
        display: block;
    }

    #botao-sortear,
    #quantidade_sorteados,
    #colapso,
    #centralizar,
    h4,
    h5,
    p {
        display: flex;
        align-items: center;
        justify-content: center;
    }
}

@media (max-height: 600px) {

    #sorteados {
        height: 32vh !important;
    }

    label {
        justify-content: start !important;
    }

    button {
        font-size: 0.75rem !important;
    }

    h5 {
        font-size: 1rem !important;
    }

    #botao-sortear,
    #quantidade_sorteados,
    #colapso,
    #centralizar,
    h4,
    h5,
    p {
        display: flex;
        align-items: center;
        justify-content: center;
    }
}

@media (max-width: 320px) {
    h4 {
        font-size: 1.2rem !important;
    }

    h5,
    h6 {
        font-size: 0.7rem !important;
        width: 80vw !important;
    }

    #quantidade_sorteados label {
        font-size: 0.9rem;
    }


    #nome,
    #posicao {
        font-size: 4vw;
    }
}